:root {
  // GLOBAL VARIABLES
  --text-color: #42495c;
  --text-inside: #fff;
  --main-color: #EF5256;
  --secondary-color: #ff6b6b;
  --main-background: #f0edf1;
  --secondary-background: #e4e3e3;
  --border-color: #dcdcdc;
}